<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ph.sm.jumpy"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application android:label="Jumpy" android:icon="@drawable/jdroid_gglogo">
        <activity android:name=".JumpyGame"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ch.aplu.android.ConsoleActivity"
           android:configChanges="keyboardHidden|orientation">
      </activity>
    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest> 
